@use 'variables' as *;

.feature-container {
  .feature-item {
    margin-right: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 330px;
    scroll-snap-align: center;

    &--title {
      font-size: 16px;
    }

    &--description {
      margin-top: 4px;
      font-size: 14px;
    }

    .script-button {
      font-family: inherit;
      max-width: 90%;
      font-size: 13px;
      color: $text-secondary;
      border: 1px solid #4c4c4c;
      background-color: $bg-gray-secondary;
      padding: 8px 16px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 12px 0;
      cursor: pointer;
      white-space: nowrap;
      transition: all 200ms ease;
      outline: 0;

      &:focus-visible {
        outline: 1px solid #6b7280;
      }

      &:active {
        outline: 1px solid #6b7280;
      }

      &--icon {
        font-size: 16px;
        transition: all 200ms ease;

        &.copied {
          color: $circle;
        }
      }

      .show-copied {
        opacity: 1;
        transition: all 200ms ease;
        font-size: 10px;
        color: #9a9a9a;
        margin-right: 4px;
        margin-left: auto;
      }

      .hide-copied {
        opacity: 0;
      }
    }
  }
}
