@use 'variables' as *;

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  position: fixed;
  left: 0;
  right: 0;
  max-width: inherit;
  margin: 0 auto;
  z-index: 100;
  background: $bg-primary;

  .title {
    font-size: 36px;
  }

  .status-bar {
    display: flex;
    align-items: center;
    gap: 24px;

    &__item {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;

      p {
        font-size: 14px;
        color: #fff;
        transition: all 200ms ease;

        span {
          font-weight: 500;
          color: $text-secondary;
        }
      }

      &--circle {
        color: $circle;
        font-size: 10px;
        animation: pulse 2s ease-in-out infinite;
      }

      &--star {
        color: $star;
        font-size: 14px;
      }

      &--gh {
        color: $gh;
        font-size: 16px;
      }

      &:hover {
        p {
          color: $text-secondary;
        }

        .status-bar__item--circle {
          animation-play-state: paused;
        }
      }
    }
  }
}