// Colors
$bg-primary: #121212;
$bg-terminal: #000000;
$bg-gray-primary: #2B2B2B;
$bg-gray-secondary: #222222;
$text-primary: #D9D9D9;
$text-secondary: #AAAAAA;

// Layout
$container-width: 1000px;
$terminal-height: 420px;

// Icons
$circle: #15AF18;
$star: #FCFF3E;
$gh: #9D73FF;

// Terminal text
$terminal-dot-colors: #D01C1C, #CDDC4B, #2EB539;
$terminal-output-primary: #61B74B;
$terminal-output-em: #A8EF96;
$terminal-user-path: #B4DEF6;
$terminal-user-input: #C5CC9C;
